
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 320px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
   
}

input {
    width: 90%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.separator {
    margin: 20px 0;
    border-bottom: 1px solid #ddd;
}

a {
    text-decoration: none;
    color: #1877f2;
    margin-right: 10px;
   
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
    text-align: center;

}
